@import "normalize.scss";
@import "nullstyle.scss";

@font-face {
  font-family: "Inter";
  src: url(../fonts/InterLight.woff2) format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/InterRegular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/InterMedium.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/InterSemiBold.woff2) format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/InterBold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Inter", sans-serif;
}

$while: #fff;
$grey: #838383;
$dark: #1d1d1f;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
// обнуление кнопки и ul
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  color: $while;
}

.descr {
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 39px 0;
  width: 100%;
  &__nav {
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__search {
    margin-right: 35px;
    width: 24px;
    height: 24px;
  }
  &__search svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero {
  padding-top: 269px;
  height: 100vh;
  min-height: 800px;
  background-image: url("../img/Rectangle 1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__descr {
    margin-bottom: 50px;
    max-width: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $while;
  }
  &__title {
    margin: 0;
    margin-bottom: 30px;
    max-width: 936px;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: $while;
  }
}

.about {
  &__col {
  }
  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $dark;
  }
  &__item:not(:last-child) {
    margin-bottom: 60px;
  }
  &__list {
  }
  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
  }
}
&__text {
}
&__title {
  margin: 0;
  margin-bottom: 60px;
  max-width: 570px;
  font-weight: 700;
  font-size: 44px;
  line-height: 140%;
  color: $dark;
}

.about__play--hidden {
  display: none;
}

.about__play svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  .about__descr:not(:last-child) {
    margin-bottom: 40px;
  }

  &__top {
    padding-top: 190px;
  }
  &__vodeo {
    position: relative;
    width: 100%;
    height: 630px;
    overflow: hidden;
  }
}

.about__vodeo video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding: 20px 20px;
  min-width: 180px;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: $dark;
  background-color: $while;

  &-dark {
  }
  &-light {
    color: $dark;
    background-color: $while;
  }
}
.completed {
  &__value {
    font-weight: 300;
    font-size: 64px;
    line-height: 140%;
    color: $dark;
  }
  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $grey;
  }
}

.footer {
  &__address {
  }
  &__btn {
  }
  &__col {
  }
  &__form {
  }
  &__input {
  }
  &__item {
  }
  &__link {
  }
  &__social {
  }
  &__title {
  }
}

.nav {
  &__item:not(:last-child) {
    margin-right: 35px;
  }
  &__link {
  }
  &__list {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: $while;
    padding: 10px 0;
  }
}
.portfolio {
  &__list {
  }
}
.portfolio-item {
  &__col {
  }
  &__descr {
  }
  &__image {
  }
  &__title {
  }
}
.portfolio-item-reverse {
}
.quote {
  &__author {
  }
  &__text {
  }
  &__title {
  }
}
.services {
  &__image {
  }
  &__list {
  }
}
.services-item {
  &__col {
  }
  &__descr {
  }
  &__title {
  }
}
.social {
}
.visualli-hidden {
}
